<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body
    <ul>
    <% result.forEach(function (ele) { %>
        <li> <%= ele.uuid %>  <%= ele.name %> <br/> <%= ele.address %> <br/> <%= ele.car %> </li>
    <% }) %>
    </ul>
  </body>
</html>